.mainbody {
  width: 100vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  /* align-items: center; */
  
}

.mobnavbar {
  visibility: hidden;   /* instead of display: none */
  opacity: 0;
  background: #fff;
  width: 100%;
  position: absolute;
  top: 16vw;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  height: auto;

  transform: translateY(-20px);
  transition: opacity 0.35s ease, transform 0.35s ease, visibility 0s linear 0.35s;
}

.mobnavbar.show {
  visibility: visible; /* make it visible */
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.35s ease, transform 0.35s ease;
}

.mobnavbar ul
{
  color: rgb(0, 0, 0);
  list-style: none;
  margin-left: 1vw;
  
}

.mobnavbar li {
  color: black;
  font-family: 'InterCustom';
  margin-top: 5vw;

  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* When navbar is shown, animate li */
.mobnavbar.show li {
  opacity: 1;
  transform: translateX(0);
}

/* Optional: stagger animation for each li */
.mobnavbar.show li:nth-child(1) { transition-delay: 0.05s; }
.mobnavbar.show li:nth-child(2) { transition-delay: 0.1s; }
.mobnavbar.show li:nth-child(3) { transition-delay: 0.15s; }
.mobnavbar.show li:nth-child(4) { transition-delay: 0.2s; }
.mobnavbar.show li:nth-child(5) { transition-delay: 0.25s; }
/* When state = open */


/* Menu icon always clickable */
.menuicon {
  cursor: pointer;
}

.navbartop {
  width: 100vw;
  height: 6vw;
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}

.navbar {
  width: 80vw;
  height: 6vw;
  /* background-color: red; */
  display: flex;
}

.navlogo {
  width: 10vw;
  /* width: 200px; */
  height: 100%;
  /* background-color: rgb(48, 0, 125); */
}

.navlogo img {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.navoptions {
  /* background: #b7ff00; */
  width: 60vw;
  display: flex;
  font-family: "InterCustom";
  font-weight: normal;
  color: #555963;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
}

.navoptions ul {
  display: flex;
  list-style: none;
  gap: 3vw;
}

.menuicon img{
  width: 2vw;
  height: 2vw;
}

.menuicon{
  margin-right: -2vw;
}



.getquote {
  /* background-color: blue; */
  width: 10vw;
  height: auto;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.getquotebutton {
  background-color: #4a23ae;
  border-radius: 0.3vw;
}

.getquotebutton h3 {
  /* color: red; */
  margin: 0.6vw 1.5vw 0.6vw 1.5vw;
  font-family: "InterCustom";
  font-weight: 400;
  font-size: 0.9vw;
}

.banner {
  width: 100vw;
  height: 46vw;
  background-color: rgb(0, 0, 0);
  background-image: url("/images/home/PNIConsortium-banner.png");
  background-size: cover; /* fills container */
  background-position: center; /* centers image */
  background-repeat: no-repeat; /* avoids tiling */
}

/* .bannercontent{
    width: 10vw;
    height: 30vw;
    background-color: red;
    margin-left: 10.2vw;
} */

.banner h3 {
  color: white;
  margin-left: 10.2vw;
  font-family: "InterCustom";
  font-size: 3.2vw;
  margin-top: 10vw;
  font-weight: 500;
}

.banner p {
  color: white;
  margin-left: 10.2vw;
  font-family: "InterCustom";
  font-size: 1.3vw;
  margin-top: 2.5vw;
  font-weight: 300;
}

.bannerbutton {
  width: 14vw;
  height: 3.5vw;
  background-color: white;
  margin-left: 10.2vw;
  margin-top: 2.5vw;
  border-radius: 0.3vw;
  color: #4a23ae;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "InterCustom";
}

.bannerbutton h4 {
  font-weight: 500;
  font-size: 0.9vw;
}

.empovering {
  width: 100vw;
  height: auto;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abouttop {
  width: 27vw;
  height: 8vw;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  margin-top: -4vw;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
}

.abouttop img {
  width: 4vw;
  height: 4vw;
}

.abouttop h4 {
  font-family: "InterCustom";
  color: black;
  font-weight: 500;
  font-size: 2vw;
}

.empovering h5 {
  font-family: "InterCustom";
  font-weight: 500;
  font-size: 2.5vw;
  text-align: center;
  margin-top: 2.5vw;
  color: rgb(0, 0, 0);
}


.empovering p {
  font-family: "InterCustom";
  font-weight: 400;
  font-size: 1.1vw;
  text-align: center;
  margin-top: 2.5vw;
  color: #555963;
  line-height: 1.7vw;
}

.pnides {
  width: 80vw;
  height: 20vw;
  background-color: #fafafa;
  margin-top: 2vw;
  display: flex;
  gap: 1.5vw;
}

.pnidesp h1{
  font-size: 1vw;
  margin-left: 2vw;
  margin-top: 1vw;
  font-weight: 400;
   color: #6a7282;
}

.pnidesp {
  width: 100%;
  height: 20vw;
  background-color: #f3f4f6;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  font-family: "InterCustom";
}

.pnidespp {
  width: 3.8vw;
  height: 3.8vw;
  background-color: #155dfc;
  border-radius: 0.9vw;
  margin: 2vw 0vw 0vw 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pnidespp h2 {
  font-family: "InterCustom";
  font-size: 1.5vw;
   color: rgb(255, 255, 255);
}



.pnidesp h4 {
  font-size: 1.1vw;
  position: absolute;
  margin: 8.5vw 0vw 0vw 2vw;
  color: #000000;
  font-weight: 400;
}

.pnidesp p {
  font-weight: 400;
  color: #4a5565;
  text-align: left;
  margin: 3vw 0vw 0vw 2vw;
  font-size: 1.2vw;
}

/* PNIDESN_STARTSHERE */

.pnidesn {
  width: 100%;
  height: 20vw;
  background-color: #f3f4f6;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  font-family: "InterCustom";
}

.pnidesn h1{
  font-size: 1vw;
  margin-left: 2vw;
  margin-top: 1vw;
  font-weight: 400;
   color: #6a7282;
}

.pnidesnn {
  width: 3.8vw;
  height: 3.8vw;
  background-color: #4f39f6;
  border-radius: 0.9vw;
  margin: 2vw 0vw 0vw 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pnidesnn h2 {
  font-family: "InterCustom";
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
}



.pnidesn h4 {
  font-size: 1.1vw;
  position: absolute;
  margin: 8.5vw 0vw 0vw 2vw;
  color: #000000;
  font-weight: 400;
}

.pnidesn p {
  font-weight: 400;
  color: #4a5565;
  text-align: left;
   margin: 3vw 0vw 0vw 2vw;
  font-size: 1.2vw;
}

/* PNII_x        */

.pnidesi {
  width: 100%;
  height: 20vw;
  background-color: #f3f4f6;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  font-family: "InterCustom";
}

.pnidesi h1{
  font-size: 1vw;
  margin-left: 2vw;
  margin-top: 1vw;
  font-weight: 400;
   color: #6a7282;
}

.pnidesii {
  width: 3.8vw;
  height: 3.8vw;
  background-color: #7f22fe;
  border-radius: 0.9vw;
  margin: 2vw 0vw 0vw 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pnidesii h2 {
  font-family: "InterCustom";
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
}


.pnidesi h4 {
  font-size: 1.1vw;
  position: absolute;
  margin: 8.5vw 0vw 0vw 2vw;
  color: #000000;
  font-weight: 400;
}

.pnidesi p {
  font-weight: 400;
  color: #4a5565;
  text-align: left;
    margin: 3vw 0vw 0vw 2vw;
  font-size: 1.2vw;
}

#together {
  color: black;
  margin-top: 4vw;
}

.togetherone {
  width: 80%;
  height: auto;
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-family: "InterCustom";
  padding: 1vw 0vw 1vw 0vw;
  font-size: 1.7vw;
  margin-top: 2vw;
}

.togetherone img {
  width: 1.2vw;
}

#togethericonone {
  margin-left: 20vw;
}

.togetherone h6 {
  font-weight: 400;
  margin-left: 0.8vw;
}

/* TogetherONeEnds Here */

.togethertwo {
  width: 80%;
  height: auto;
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-family: "InterCustom";
  padding: 1vw 0vw 1vw 0vw;
  font-size: 1.7vw;
  /* margin-top: 1vw; */
}

.togethertwo img {
  width: 1.2vw;
}

#togethericontwo {
  margin-left: 17vw;
}

.togethertwo h6 {
  font-weight: 400;
  margin-left: 0.8vw;
}

#standsfor {
  color: black;
  margin-top: 3vw;
}

/* END OF EMPOVERING */


/* ACHIVEMENT SECTION STARTS HERE */


.boarderline{
  width: 80vw;
  height: auto;
  background-color: #0055ff;
  margin-top: 2vw;
  border-radius: 1vw;
  display: flex;
  border: 0.1vw solid rgb(220, 220, 220);
}

.achives{
  width: 80vw;
  height: auto;
  background-color: #ffffff;
  margin-top: 3vw;
  border-radius: 1vw;
  display: flex;
  gap: 1.5vw;
}

.achivesone{
  width: 100%;
  height: 100%;
  background-color: #F2F1F7;
  border-radius: 1vw;
}

.achivesone img{
  width: 1.5vw;
  margin: 2vw 0vw 0vw 2vw;
}

.achivesone h4{
  margin: 3vw 0vw 0vw 2vw;
  font-family: 'InterCustom';
  font-weight: 500;
  color: black;
  font-size: 1.5vw;
}

.achivesone h6{
  margin: 0.6vw 0vw 2vw 2vw;
  font-family: 'InterCustom';
  font-weight: 400;
  color: black;
  font-size: 1vw;
}



/* ACHIVEMENT SECTION ENDS HERE */



/* STARTING OF PROFFESSIONAL SECTION */

.pro {
  width: 80vw;
  height: auto;
  background-color: #F2F1F7;
  margin-top: 7vw;
  border-radius: 1vw;
  display: flex;
  border: 0.1vw solid rgb(189, 189, 189);

}


.pro img {
  width: 35vw;
  margin: 2vw 0vw 2vw 2vw;
  border-radius: 10px;
}

.propara{
    width: auto;
    height: auto;
    margin: 2vw 0vw 0vw 2vw;
}

.propara h4 {
    font-family: 'InterCustom';
    font-size: 2.5vw;
    color: black;
    font-weight: 600;
}

.propara p{
    color: #555963;
    text-align: start;
    margin-top: 2vw;
    line-height: 1.6vw;
}

.proparabtn{
  width: 11.5vw;
  height: 3.5vw;
  background-color: #4a23ae;
  margin-top: 1.8vw;
  border-radius: 0.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'InterCustom';
}

.proparabtn h3{
  font-weight: 400;
  font-size: 1vw;
  color: rgb(255, 255, 255);
}


/* PROFESSIONAL SECTION ENDS HERE */

/* ATTORNEYS SECTION STARTS HERE */

.attorneys{
  width: 100%;
  height: auto;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  margin-top: 8vw;
  flex-direction: column;
}

.attorneys h1{
  color: black;
  font-family: 'InterCustom';
  font-size: 2.5vw;
  font-weight: 500;
}

.attorneyswrapper{
  width: 80%;
  height: 35vw;
  /* background-color: black; */
  margin-top: 3vw;
  display: flex;
  gap: 2vw;
}

.attorneyswrap{
  width: 100%;
  height: 100%;
  background-color: #F2F1F7;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.imageplacerone{
  width: 100%;
  height: 65%;
  /* background-color: rgb(255, 0, 221); */
  background-image: url(../public/images/home/P\ N\ D\ Namboothiri.png);
   background-size: cover; /* fills container */
  background-position: center; /* centers image */
  background-repeat: no-repeat; /* avoids tiling */
  border-radius: 1vw 1vw 0vw 0vw;
}

.imageplacertwo{
  width: 100%;
  height: 65%;
  /* background-color: rgb(255, 0, 221); */
  background-image: url(../public/images/home/T\ Lalithambika.png);
   background-size: cover; /* fills container */
  background-position: center; /* centers image */
  background-repeat: no-repeat; /* avoids tiling */
  border-radius: 1vw 1vw 0vw 0vw;
}

.imageplacerthree{
  width: 100%;
  height: 65%;
  /* background-color: rgb(255, 0, 221); */
  background-image: url(../public/images/home/HRithwik.png);
   background-size: cover; /* fills container */
  background-position: center; /* centers image */
  background-repeat: no-repeat; /* avoids tiling */
  border-radius: 1vw 1vw 0vw 0vw;
}

.attorneyswrap h3{
  color: black;
  font-family: 'InterCustom';
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 2vw;
}

.attorneyswrap h5{
  color: #4a23ae;
  font-family: 'InterCustom';
  font-size: 1.2vw;
  font-weight: 400;
  margin-top: 0.5vw;
}

.attorneyswrap h6{
  color: #555963;
  font-family: 'InterCustom';
  font-size: 1.1vw;
  font-weight: 400;
  margin-top: 0.8vw;
}



.choose{
  width: 100vw;
  height: auto;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose h1{
  color: black;
  font-family: 'InterCustom';
  font-size: 2.5vw;
  font-weight: 500;
  margin: 2vw 0vw 2vw 0vw;
}


.chooseabout{
  width: auto;
  height: auto;
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  margin: 2vw 0vw 0vw 0vw;
  justify-content: start;
}

.chooseabout img{
  width: 2vw;
  
}

.chooseabout p{
  font-family: 'InterCustom';
  font-size: 1.2vw;
  margin-left: 1vw;
  color: #717683;
}

/* FOOTER SECTION STARTS HERE  */


.footer{
  width: 100%;
  height: auto;
  background-color: #0C002C;
  margin-top: 6vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
      color: rgb(255, 255, 255);
}

.footer h1{
  font-family: 'InterCustom';
  font-weight: 500;
  font-size: 2.5vw;

}

.footerwrapper{
  width: 80vw;
  height: auto;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 3.5vw;
}

.footerwraptwo{
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}

.footerwraptwo h2{
  font-family: 'InterCustom';
  font-size: 1.3vw;
  font-weight: 500;
}

.footerwraptwo p{
  font-family: 'InterCustom';
  font-size: 0.9vw;
  font-weight: 400;
  margin-top: 1.5vw;
  line-height: 1.4vw;
}

.footerwraptwo h1{
  font-size: 1.3vw;
  font-weight: 500;
  margin-bottom: 1vw;
}

.footerwraptwo ul{
  list-style-type: none;
  line-height: 2vw;
}

.footerwraptwo ul li{
  font-family: 'InterCustom';
  font-size: 0.9vw;

}

.footerwrapthree{
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}

.footerwrapthree h2{
  font-family: 'InterCustom';
  font-size: 1.3vw;
  font-weight: 500;
}

.footerwrapthree p{
  font-family: 'InterCustom';
  font-size: 0.9vw;
  font-weight: 400;
  margin-top: 1.5vw;
  line-height: 1.4vw;
}

.footerwrapthree h1{
  font-size: 1.3vw;
  font-weight: 500;
  margin-bottom: 1vw;
}

.footerwrapthree ul{
  list-style-type: none;
  line-height: 2vw;
}

.footerwrapthree ul li{
  font-family: 'InterCustom';
  font-size: 0.9vw;
        color: rgb(255, 255, 255);

}

.footerwrapone{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  gap: 1vw;
 
}

.footerwrapone h1{
  font-size: 1.3vw;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.footerwrapone h2{
  font-size: 1.3vw;
  font-weight: 500;
  margin-top: 1vw;
  font-family: 'InterCustom';
}

.address{
  width: auto;
  height: auto;
  /* background-color: rosybrown; */
  display: flex;
  /* margin-top: 1.5vw; */
  gap: 1vw;
  align-items: center;
}

.address h1{
  font-size: 1.3vw;
  font-weight: 500;
}

.address img{
  width: 1.2vw;
  height: 1.1vw;
}

.address p{
  font-family: 'InterCustom';
  font-size: 0.9vw ;
}


.numberchange{
  /* background-color: yellow; */
  display: flex;
  gap: 1vw;
}

.numberchange img{
  width: 1.2vw;
  height: 1.2vw;
}

.numberchange p{
  font-family: 'InterCustom';
  font-size: 0.9vw;
}


.addressemail{
  display: flex;
  /* background-color: orange; */
  flex-direction: column;
    gap: 1vw;
}

.emailchange{
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 1vw;
}

.emailchange img{
  width: 1.2vw;
  height: 1.2vw;
}

.emailchange p{
  font-family: 'InterCustom';
  font-size: 0.9vw;
}







.address

.footericons{
  width: auto;
  height: auto;
  /* background-color: purple; */
  display: flex;
  gap: 1.5vw;
  
}

.footericons img{
  width: 2.5vw;
  height: 2.5vw;
  background-color: #241941;
  border-radius: 30%;
  padding: 0.6vw;
  margin-right: 2vw;
}

.boarderlineone{
  width: 80vw;
  height: auto;
  margin-top: 3vw;
  border-radius: 1vw;
  display: flex;
  border: 0.1vw solid #2B2B2B;
}

.footer h6{
  color: rgb(255, 255, 255);
  font-family: 'InterCustom';
  margin: 2vw 0vw 2vw 0vw;
  font-size: 1vw;
  font-weight: 300;
}




/* RESPONSIVENESS STARTS FROM HERE */ /* RESPONSIVENESS STARTS FROM HERE */ /* RESPONSIVENESS STARTS FROM HERE */ /* RESPONSIVENESS STARTS FROM HERE */



/* SCREENSIZES BELOW 800PX SCREENSIZES BELOW 800PX */


@media (max-width: 900px) {
  /* styles for screens smaller than 960px */

  .navbartop{
    height: 6vw;
  }

  .navoptions{
    justify-content: flex-end;
  }

  .navlogo{
    width: 13vw;
  }

  .navoptions ul{
    display: none;
  }

  .getquote{
    display: none;
  }





  






}


@media (min-width: 900px){
  .menuicon img{
    display: none;
  }
}



/* MOBILE RESPONSIVE STARTS FROM HERE // MOBILE RESPONSIVE STARTS FROM HERE */


@media (min-width: 500px) {
  .brone{
  display: none;
}

#since{
  display: none;
}

/* .divone{
  display: none;
} */

.achivesmob{
  display: none;
}

.togetheroneone{
  display: none;
}

#togethericononeone{
  display: none;
}

.togethertwotwo{
  display: none;
}

#togethericontwotwo{
  display: none;
}

.chooseaboutone{
  display: none;
}


}

@media (max-width: 500px){

.navbartop{
  height: 15vw;
  /* background-color: yellow; */
}

.navbar{
  height: 15vw;
  width: 90vw;
}

.navlogo{
  width: auto;
  height: 15vw;
}

.menuicon img{
  width: 5vw;
  height: 5vw;
}

.banner{
  height: 108vw;
  background-position: 40%;
  background-image: 
    linear-gradient(#00000080, #4a23ae),
    url("/images/home/PNIConsortium-banner.png");
  background-size: cover;
  background-position: center;
}

.banner h3{
  font-size: 8vw;
  margin-top: 25vw;
  margin-left: 6vw;
  line-height: 11vw;
}

.banner p{
  font-size: 3vw;
  margin-left: 6vw;
  line-height: 5vw;
}

.bannerbutton{
  width: 40vw;
  height: 10vw;
  margin-left: 6vw;
  border-radius: 1vw;
  margin-top: 5vw;
}

.bannerbutton h4{
  font-size: 3vw;
}

.abouttop {
  display: none;
}

.menuicon {
  margin-right: 1vw;
}

.empovering h5{
  font-size: 8vw;
  text-align: start;
  margin-left: 6vw;
  color: #4A23AE;
  margin-top: 10vw;
}

.brtwo{
  display: none;
}

#since{
  font-size: 7vw;
  color: black;
  font-family: 'InterCustom';
  margin-top: 6vw;
  font-weight: 500;
  margin-left: -54vw;
}

#founded{
  font-size: 3.6vw;
  line-height: 6vw;
  text-align: start;
  margin-left: 6vw;
  margin-top: 6vw;
  margin-bottom: 6vw;
}

.pnides{
  /* background-color: yellow; */
  flex-direction: column;
  height: auto;
  width: 90vw;
  gap: 4vw;
}

.pnidesp{
  height: auto;
}

.pnidespp{
  width: 12vw;
  height: 12vw;
}

.pnidespp h2{
  font-size: 5vw;
  color: rgb(255, 255, 255);
}

.pnidesp h4{
  font-size: 4vw;
  margin-top: 22vw;
}

.pnidesp h1{
  color: #6a7282;
  font-size: 2.8vw;
  margin-left: 2vw;
  margin-top: 2.8vw;
  font-weight: 400;
   
}

.pnides p{
  font-size: 3vw;
  line-height: 5vw;
  margin-top: 9vw;
  margin-bottom: 1vw;
  color: #4a5565;
}



.pnidesn{
  height: auto;
}

.pnidesnn{
  width: 12vw;
  height: 12vw;
}

.pnidesnn h2{
  font-size: 5vw;
  color: rgb(255, 255, 255);
}

.pnidesn h4{
  font-size: 4vw;
  margin-top: 22vw;
}

.pnidesn h1{
  color: #6a8270;
  font-size: 2.8vw;
  margin-left: 2vw;
  margin-top: 2.8vw;
  font-weight: 400;
   /* color: #6a7282; */
}


.pnidesi{
  height: auto;
}

.pnidesii{
  width: 12vw;
  height: 12vw;
}

.pnidesi h1{
  color: #6a7282;
  font-size: 2.8vw;
  margin-left: 2vw;
  margin-top: 2.8vw;
  font-weight: 400;
   /* color: #6a7282; */
}

.pnidesii h2{
  font-size: 5vw;
  color: rgb(255, 255, 255);
}

.pnidesi h4{
  font-size: 4vw;
  margin-top: 22vw;
}

.achives{
  flex-direction: column;
  width: 80vw;
  gap: 6vw;
  margin-top: 12vw;
  background-color: #FAFAFA;
}

.achivesone{
  display: none;
}

.achivesmob{
  width: 80vw;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.achivesmobone{
  background-color: #FAFAFA;
}

.achivesmoboneid{
  margin-left: -2vw;
  /* background-color: yellow; */
}

.achivesmoboneid img{
  margin-left: -35vw;
  /* background-color: yellow; */
}

.achivesmoboneid h4{
  margin-left: -16vw;
  font-size: 5vw;
  margin-top: 7vw;
  color: #000000;
  font-family: 'InterCustom';
  font-weight: 500;
  margin-left: -35vw;
}

#five{
  /* color: red; */
  margin-top: 7vw;
}


.achivesmoboneid h6{
  font-size: 4vw;
  color: #4a5565;
  margin-top: 3vw;
  margin-bottom: 5vw;
  font-weight: 400;
  font-family: 'InterCustom';
  margin-left: -35vw;
}


.achivesmobone img{
  width: 7vw;
  margin-left: 1.5vw;
  
}



.achivesmobone h4{
  font-size: 5vw;
  margin-top: 6vw;
  color: black;
  font-family: 'InterCustom';
  margin-left: 1.5vw;
  font-weight: 500;
}

.achivesmobone h6{
  font-size: 4vw;
  color: #4a5565;
  margin-top: 3vw;
  margin-bottom: 5vw;
  font-weight: 400;
  font-family: 'InterCustom';
  margin-left: 1.5vw;
}

.togetherone{
  display: none;
}

.togetheroneone{
  /* background-color: #0055ff; */
  display: flex;
  flex-direction: column;
  margin-left: -5vw;
  margin-top: 0vw;
}


#togethericonone{
  display: none;
}

.togethertwo{
  display: none;
}

#togethericontwo{
  display: none;
}

#together{
  font-size: 3vw;
  width: 80vw;
  text-align: start;
  line-height: 5vw;
}

.togetheroneone img{
  width: 4vw;
  height: 4vw;
  margin-top: 4vw;
  margin-bottom: 2vw;
}

.togetheroneone h6{
  font-family: 'InterCustom';
  font-size: 3vw;
  font-weight: 500;
  color: #4a5565;
}


.togethertwotwo{
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  margin-left: 2.5vw;
}

.togethertwotwo img{
  width: 4vw;
  height: 4vw;
  margin-top: 4vw;
  margin-bottom: 2vw;
}

.togethertwotwo h6{
  font-size: 3vw;
  font-weight: 500;
  font-family: 'InterCustom';
  color: #4a5565;
}

.boarderline{
  margin-top: 6vw;
}



#standsfor{
  font-size: 2.7vw;
  line-height: 4vw;
  text-align: start;
  width: 90vw;
  margin-left: 10vw;
  color: #4a5565;
  font-weight: 500;
}

.pro{
  /* background-color: yellow; */
  flex-direction: column;
  width: 90vw;
  border: none;
}

.pro img{
  width: 100%;
  margin: 0;
  border-radius: 5px;
}

.propara{
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.propara h4{
  font-size: 6vw;
  margin-top: 9vw;
}

.propara p{
  font-size: 4vw;
  line-height: 6vw;
  margin-top: 4vw;
}

.proparabtn{
  width: 45vw;
  height: 10vw;
  margin-top: 5vw;
  border-radius: 1.5vw;
}

.proparabtn h3{
  font-weight: 400;
  font-size: 4vw;
    color: rgb(255, 255, 255);
}


.attorneys h1{
  font-size: 7vw;
  margin-top: 6vw;
  margin-bottom: 2vw;
}

.attorneyswrapper{
  width: 100%;
  height: 100%;
  overflow-x: auto;
  margin-left: 10vw;
  padding-right: 5vw;
}

.attorneyswrapper::-webkit-scrollbar{
  width: 0;
}

.attorneyswrap{
  width: 80vw;
  background-color: #f0f0f0;
  height: 100vw;
  margin-right: 5vw;
  margin-top: 5vw;
  align-items: center;
  padding-bottom: 5vw;
}

.imageplacerone{
  width: 80vw;
  height: 70%;
}

.imageplacertwo{
  width: 80vw;
   height: 70%;
}

.imageplacerthree{
  width: 80vw;
   height: 70%;
}

.attorneyswrap h3{
  font-size: 5vw;
  margin-top: 6vw;
}

.attorneyswrap h5{
  font-size: 3.5vw;
}

.attorneyswrap h6{
  font-size: 3.5vw;
  margin-bottom: 1vw;
}

.choose h1{
  font-size: 6vw;
  margin-top: 8vw;
}

.chooseabout{
  display: none;
}

.choose{
  width: 100vw;
  /* background-color: yellow; */
  padding-right: 5vw;
}

.chooseaboutone{
  color: #555963;

}

.chooseaboutone ul li::marker{
  color: #FBBF24;
  font-size: 6vw;
}


.chooseaboutone p{
  text-align: start;
  list-style-type: disc;
}

.chooseaboutone ul{
  margin-left: 10vw;
  font-size: 3.5vw;
  font-family: 'InterCustom';
  display: flex;
  flex-direction: column;
  gap: 5vw;
  margin-top: 1vw;
}

.footer h1{
  font-size: 6vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.footerwrapper{
  flex-direction: column;
}

.footerwraptwo{
  display: none;
}

.footerwrapthree h1{
  font-size: 3.5vw;
  margin-top: 0;
  margin-bottom: 3.5vw;
}

.footerwrapthree ul li{
  font-size: 3vw;
  line-height: 6vw;
          color: rgb(255, 255, 255);
}

.footerwrapone h1{
  font-size: 3.5vw;
  margin-bottom: 2vw;
}

.footerwrapone h2{
  font-size: 3.5vw;
  margin-bottom: 3.5vw;
  margin-top: 6vw;
}

.address{
  display: flex;
}

.address img{
  width: 4vw;
  height: 4vw;
}

.address p{
  font-size: 3vw;
          color: rgb(255, 255, 255);
  margin-bottom: 2.2vw;
  margin-top: 2vw;
}

.numberchange{
  display: flex;
  align-items: center;
}

.numberchange img{
  width: 4vw;
  height: 4vw;
  
}

.numberchange p{
  font-size: 3vw;
  margin-bottom: 2.2vw;
  margin-top: 2vw;
}

.addressemail{
  margin-top: 2vw;
}

.emailchange{
  align-items: center;
}

.emailchange img{
  width: 4vw;
  height: 4vw;
}

.emailchange p{
  font-size: 3vw;
  margin-bottom: 2.2vw;
  margin-top: 2vw;
}



.footericons{
  display: flex;
  gap: 4vw;
}

.footericons img{
  width: 6vw;
  height: 6vw;
  margin-bottom: 5vw;
  margin-right: 0.5vw;
}

.footer h6{
  font-size: 3vw;
  margin: 6vw;
}



}









